services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app

    command: >
      sh -lc "pnpm install &&
      pnpm dev -H 0.0.0.0 -p 3000
      --experimental-https
      --experimental-https-key /app/certificates/localhost-key.pem
      --experimental-https-cert /app/certificates/localhost.pem"

    ports:
      - "3000:3000"

    environment:
      - NODE_ENV=development
      - PYTHON=/usr/bin/python3
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=200

    volumes:
      - ./:/app:cached
      - node_modules:/app/node_modules
      - next_cache:/app/.next
      - ./certificates:/app/certificates:ro

volumes:
  node_modules:
  next_cache: